version: '3.8'

services:
  otelcontribcol:
    image: otel/opentelemetry-collector-contrib:0.92.0
    command: "--config /etc/otelcol-contrib/config.yml"
    volumes:
      - ./otelcontribcol/:/etc/otelcol-contrib/:ro
    networks:
      - bridge
    ports:
      - 4318:4318
      - 4317:4317

  otlpjson-logs:
    image: curlimages/curl:8.5.0
    command: "-X POST -H 'Content-Type: application/json' -d @/otlpjson/logs.json -i otelcontribcol:4318/v1/logs"
    volumes:
      - ./otlpjson/logs.json:/otlpjson/logs.json:ro
    depends_on:
      - otelcontribcol
    networks:
      - bridge

  otlpjson-metrics:
    image: curlimages/curl:8.5.0
    command: "-X POST -H 'Content-Type: application/json' -d @/otlpjson/metrics.json -i otelcontribcol:4318/v1/metrics"
    volumes:
      - ./otlpjson/metrics.json:/otlpjson/metrics.json:ro
    depends_on:
      - otelcontribcol
    networks:
      - bridge

  otlpjson-traces:
    image: curlimages/curl:8.5.0
    command: "-X POST -H 'Content-Type: application/json' -d @/otlpjson/trace.json -i otelcontribcol:4318/v1/traces"
    volumes:
      - ./otlpjson/trace.json:/otlpjson/trace.json:ro
    depends_on:
      - otelcontribcol
    networks:
      - bridge

networks:
  bridge: